local.ini
changehook.password
users

state.sqlite
state.sqlite-shm
state.sqlite-wal
twistd.pid

http.log*
twistd.log*

retile
pytest-*
testsuite-*
winbuild-*
wintest-*

public_html/results/
public_html/snapshots/
